<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>Leaderboard</h1>

    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
        </tr>
        {{#users}}
        <tr>
            <td>{{@index}}</td>
            <td>{{name}}</td>
            <td>{{score}}</td>
        </tr>
        {{/users}}
    </table>

    <br>
    <a href="/logout">Logout</a>
</body>
</html>
