<h2>{{place}}</h2>

{{#error}}
<p style="color:red;">{{error}}</p>
{{/error}}

{{^error}}
    {{#visited}}
        <p>Você já pressionou o botão.</p>
    {{/visited}}

    {{#not_visited}}
        <form method="POST" action="/{{hash}}/press">
            <button type="submit">Pressionar</button>
        </form>
    {{/not_visited}}
{{/error}}
